.navbar_item{
	display: inline-block;
	margin: 0px 2px 0px 2px;
}
.navbar_link{
	width: 22%;
	text-align: center;
	font-size: 25px;
	padding: 4px 0px 4px 0px;
	margin: 0;
	height: 40px;
	cursor: pointer;
	/*border-right: 1px solid black; */

}
.navbar_link:hover:not(.active){
	background-color: #FFB524;
}
div.navigation_bar{
	background-color: #FFC547;
	height: 40px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 96;
	box-shadow: 1px 1px 12px -7px black;
	z-index: 89;
	border-radius: 1px;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}
li.active{
	background-color: orange !important;
}
.nav_dropdown{
	width: 100%;
	text-align: center;
	background-color: #ffc547;
	position: fixed;
	top: -215px;
	left: 0px;
	height: auto;
	padding: 10px 0 5px 0;
	z-index: 88;
	border-bottom: 1px solid orange
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	box-shadow: 0 3px 8px -5px black;
}
.nav_dropdown p{
	font-weight: 300;
	width: 100%;
	line-height: 40px;
	cursor: pointer;
	margin: 0px;
}
.nav_dropdown p:hover{
	background-color: orange;
}
.navbar_title{
	font-size: 18px;
	margin-left: 18px;
	margin-right: 12px;
	font-family: 'Titillium Web', sans-serif;
	cursor: pointer;
}
@media screen and (min-width: 821px) {
	.menu{
		display: none;
	}
	.menu_btn{
		margin-top: -2px;
	}
	.nav_dropdown{
		display: none;
	}
}
@media screen and (max-width: 820px) {
	.menu_btn{
		display: none;
	}
	#notif_button{
		display: none !important;
	}
}
@media screen and (max-width: 700px) {
	.profile_name{
		display: none;
	}
	.searchbox_list_item{
		width: 55% !important;
	}
	.navbar_title{
		margin-left: 10px;
		margin-right: 4px;
	}
}
@media screen and (max-width: 490px) {
	.searchbox_list_item{
		width: 41% !important;
	}
	.navbar_title{
		margin-left: 6px;
		margin-right: 0px;
	}
}
@media screen and (max-width: 330px) {
	.searchbox_list_item{
		width: 60% !important;
	}
	.navbar_title{
		margin-top: 8.5px;
		display: none;
	}
}
#navbar_list{
	height: 40px;
	padding: 0;
}

.right_links{
	position: absolute;
	right:0px;
	height: 40px;
}


.notif_list_item{
	list-style-type: none;
	height: auto;
	border-bottom: 1px solid black;
	font-size: 14px;
	text-align: left;
	padding: 10px;
}
#logout_button{
	border-bottom: none !important;
}
.notif_list_item:hover{
	background-color: #FFB524;
	cursor: pointer;
}
.profile_id{
	position: relative;
	margin-top: -12px;
	margin-right: 5px;
}
.profile_name{
	position: relative;
	vertical-align: text-bottom;
	margin-left: 2px;
	margin-right: 15px;
}
.searchbox_list_item{
	width: 360px;
	margin-right: 10px;
	position: relative;
}
.searchbox{
	border: 0;
	height: 34px;
	width: 100%;
	position: relative;
	font-size: 20px;
	padding: 8px;
	margin-top: 3px;
	border-radius: 5px;
}


.glyph_link{
	text-align: center;
	width: 35px;
	font-size: 20px;
	height: 100%;
	padding-top: 7px;
	position: relative;
	margin-left: -5px;
}
.glyph_link:hover{
	background-color: #FFB524;
	cursor: pointer;
}
