
.navbar{
	list-style-type: none;
	    padding: -10;
			background-color:#FFC547;
			height: 40px;
			width: 100%;
			margin-bottom: 5px;
			font-family: arial, sans-serif;
			font-size: 18px;
			z-index: 2;
			-webkit-box-shadow:0px 1px 1px #999999;
 -moz-box-shadow:0px 1px 1px #999999;
 box-shadow:0px 1px 1px #999999;
}
body{
	margin: 0px 0px 0px 0px;

}
li {
	display:block;
	padding-top: 10px;
	margin-left: -15px;
	text-align: left;
}
#map {
	margin-top: -10px;
	z-index: -2;
}
#leftbar {
	z-index: -1;
}
.leftbar {
    background-color: #ffc547;
    width: 260px;
    height: calc(100% - 30px);
    position: fixed;
    top: 40px;
    overflow-y: auto;
    box-shadow: 1px 4px 6px #ababab;
    z-index: 87;
    -webkit-overflow-scrolling: touch;
}
.icon-menu {
  color: #FF9933;
  cursor: wait;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
	z-index: 5;
}

.div leftbar {
	background-color: #FF9933;
}
